*
{

        margin: 0;
        padding: 0;
}

.product-small-img img
{
    height: 96px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}

.product-small-img img:hover
{
opacity: 1;

}

.product-small-img{
    float: left;
}

.product
{

    top: 44%;
    left: 32%;
    transform: translate(-50%,-50%);
    position: relative;
}

.img-fluid img{
    height: 650px;

}

.img-container{
     float: right; 
    padding: 10px;

}


