.productCard {
    height:400px;
    position: relative

}

.cardgrid{
    transition: all 0.3s;
}

.cardgrid:hover {
    transform: scale(1.10);
}

.card-img-fixed {
    width: 360px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* This will maintain the aspect ratio of the image */
  }
  